/*- Written by Steven Martinez		-*/
/*- Trying out BEM!								-*/

@media screen { /* Mobile first */
	body {
		background: #e0e0e0;
		color: #0e0e0e;
		overflow-x: hidden;
	}
	/* State Hook Classes */
		.is-active {
			/*temp*/visibility: visible;					
		}
		.has-loaded {
			/*temp*/visibility: visible;
		}
		.is-loading {
			/*temp*/visibility: visible;
		}
		.is-visible {
			/*temp*/visibility: visible;
		}
		.is-disabled {
			/*temp*/visibility: visible;
		}
		.is-expanded {
			/*temp*/visibility: visible;
		}
		.is-collapsed {
			/*temp*/visibility: visible;
		}
	/* End Stake Hook Classes */

	/* Layout Elements */

	/* Wrappers are fluid */
	.l-wrapper {
		display: block;
		margin: 0;
		padding: 0;
		width: 100%;
	}

		.l-wrapper--flex {
			display: flex;
			flex: 1 0 auto;
			flex-direction: column;
		}


	/* Containers have max-widths at higher breakpoints */
	.l-container {
		left: 0;
		margin: 0 auto;
		position: relative;
		top: 0;
		width: 100%;
	}
		.l-container--nav {
			padding: 0;
		}

	.l-grid {
		font-size: 0;
		margin: 0 auto;
		width: 100%;
	}
		.l-grid__blocklink {
			border: 1px solid #afafaf;
			display: block;
		}

		.l-grid__item {
			display: inline-block;
			margin-bottom: 1.125rem;
			vertical-align: bottom;
			width: 100%;
		}

		.l-grid__headline {
			padding: 1.125rem 1.125rem 0;
		}

		.l-grid__text {
			padding: 0 1.125rem;
		}
		.l-grid__text:last-of-type:after {
			content: '';
		}

		.l-grid__thumbnail {
			border: 0;
		}
	/* End Layout Elements */

	/* Component Elements */
	.c-btn {
		background: #afafaf;
		border: 0;
		color: #0e0e0e;
		cursor: pointer;
		display: inline-block;
		margin: 0 0.5rem 0.5rem 0;
		padding: 0.5rem;
		vertical-align: middle;
	}

	.c-btn--action {
		background: #0e0e0e;
		color: #fefefe;
	}

	.c-btn__group {
		background: #cfcfcf;
		border-radius: 5px;
		display: inline-block;
		margin: 0.5rem 0;
		padding: 0.5rem;
	}
	.c-btn__group__label {
		color: inherit;
		display: inline-block;
		margin-right: 0.5rem;
		vertical-align: middle;
	}

	.c-btn__switch {
		display: inline-block;
		height: 34px;
		position: relative;
		vertical-align: middle;
		width: 60px;
	}
	.c-btn__switch input {
		display: none;
	}
	.c-btn__switchslider {
		background: #afafaf;
		bottom: 0;
		cursor: pointer;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		-webkit-transition: 0.4s;
		transition: 0.4s;
	}
	.c-btn__switchslider:before{
		background: #efefef;
		bottom: 4px;
		content: "";
		height: 26px;
		left: 4px;
		position: absolute;
		-webkit-transition: 0.4s;
		transition: 0.4s;
		width: 26px;
	}
	input:checked + .c-btn__switchslider {
		background: #0e0e0e;
	}
	input:focus + .c-btn__switchslider {
		box-shadow: 0 0 1px #0e0e0e;
	}
	input:checked + .c-btn__switchslider:before {
		-webkit-transform: translateX(26px);
	  -ms-transform: translateX(26px);
	  transform: translateX(26px);
	}

	.c-btnlist {
		border: 1px solid;
		padding: 0.5rem;

	}
		.c-btnlst__header {
			font-size: 1rem;
			margin: 0;
		}

	.c-col-full {
		display: block;
		margin: 0 auto;
		padding: 1.125rem;
	}
	.c-footer {
		background: rgb(255,255,255);
	  background: rgba(255,255,255,0.67);
	  margin-top: 1.125rem;
	  padding: 1.125rem;
	  text-align: center;
	}

	.c-header {
		background: #0e0e0e;
		color: #fefefe;
		left: 0;
		position: relative;
		top: 0;
	}
		.c-header__brandimg {
			display: inline-block;
			height: auto;
			max-width: 200px;
			vertical-align: middle;
		}
		.c-header__brandtext {
			display: inline-block;
			font-size: 1.25rem;
			line-height: 1.1;
			margin: 0;
			padding: 1.125rem;
			text-align: center;
			vertical-align: middle;
		}
		.c-header__brandimg--right {
			position: absolute;
			right: 0;
			top: 1.125rem;
		}

	.c-nav-menu {
		color: #0e0e0e;
		left: 0;
		position: absolute;
		right: 0;
		top: 2.7rem;
		z-index: 100;
	}

		.c-nav-menu__menulist {
			background: #fefefe;
			border: 1px solid #0e0e0e;
			border-left: 0;
			border-right: 0;
			display: none;
			padding: 0;
			position: relative;
			/*right: -100%;*/
			text-align: center;
			top: 0.85rem;
		}

		.c-nav-menu__menuitem {
			background: transparent;
			border-bottom: 1px solid #0e0e0e;
			display: block;
		}

		.c-nav-menu__menuitem:last-of-type {
			border-bottom: 0;
		}

			.c-nav-menu__menuitemlink,
			.c-nav-menu__menuitemlink:link,
			.c-nav-menu__menuitemlink:visited
			{
				background: #fefefe;
				display: block;
				padding: 1rem;
			}
			.c-nav-menu__menuitemlink:hover,
			.c-nav-menu__menuitemlink:active,
			.c-nav-menu__menuitemlink:focus
			{
				background: #afafaf;
			}


	.c-nav-menu__mobilemenuitem, 
	.c-nav-menu__mobilemenuitem:hover
	{
		background: transparent;
		border: 0;
		color: #fefefe;
		display: inline-block;
		font-size: 1.25rem;
		padding: 1.125rem;
		position: absolute;
		right: 0;
		text-decoration: none;
		top: -2.85rem;
		vertical-align: middle;
	}

	.c-nav-menu__mobilemenuitem:active,
	.c-nav-menu__mobilemenuitem:focus
	{
		background: #fefefe;
		border-left: 1px solid #0e0e0e;
		color: #0e0e0e;
	}
	
	.c-nav-menu__menulist:hover,
	.c-nav-menu__menuitem:hover,
	.c-nav-menu__menuitem:focus,
	.c-nav-menu__mobilemenuitem:hover + .c-nav-menu__menulist,
	.c-nav-menu__mobilemenuitem:active + .c-nav-menu__menulist,
	.c-nav-menu__mobilemenuitem:focus + .c-nav-menu__menulist
	{
		display: block;
		/*right: 0;*/
		/*transition: right 1s ease-in-out;*/
	}

	.c-search {
		padding: 1.125rem 1.625rem 1.625rem;
	}
		.c-search__form {
			color: #0e0e0e;
			font-size: 0;
		}

		.c-search__input {
			border: 0;
			border-radius: 15px 0 0 15px;
			display: inline-block;
			padding: 0.5rem 1.25rem;
			width: 70%;
		}
		.c-search__btn-submit {
			background: #afafaf;
			border: 0;
			border-radius: 0 15px 15px 0;
			color: #0e0e0e;
			display: inline-block;
			padding: 0.5rem;
			width: 30%;
		}

	.c-sec {
		background: transparent;
		border: 0;
	}
		.c-sec--dark {
			background: #0e0e0e;
			color: #fefefe;
		}


	.c-hero {
		padding: 1.5rem 1.125rem;
		text-align: center;
	}
		.c-hero__flavor-text {
			font-size: 1.875rem;
			font-weight: 300;
			line-height: 1;
		}
			.c-hero__flavor-text__content {
				color: #fefefe;
				display: block;
				line-height: 1;
			}
				.c-hero__flavor-text__content--accent {
					color: #66aa66;
					display: block;
					font-size: 1.8rem;
					font-weight: 700;
					line-height: 1;
					padding-top: 0.25rem;
					text-transform: uppercase;
				}

		.c-hero__headline {
			font-size: 2.125rem;
			line-height: 1;
		}
			.c-hero__headline--first {
				color: #afafaf;
				display: block;
			}
			.c-hero__headline--second {
				color: #66aa66;
				display: block;
			}

		.c-hero__img-container {
			display: block;
			line-height: 0;
			margin: 1.125rem 0;
			width: 100%;
		}

	.c-panel {
		background: #fefefe;
		padding: 1.125rem;
	}
			.c-panel--transparent {
				background: transparent;
			}
		.c-panel__loader {
			border: 1px solid #efefef;
			border-radius: 15px;
			padding: 3rem;
		}
		.c-panel__loaderanim {
			display: block;
			margin: 0 auto;
		}



	.c-transition {
  	border-left: 2.25rem solid transparent;
  	border-right: 2.25rem solid transparent;
	  height: 0;
	  margin: 0 auto; 
	  width: 0; 
  }
  	.c-transition--darktolight {
  		border-bottom: 1.125rem solid #fefefe;
  		border-top: 1.125rem solid #0e0e0e;
  	}
  	.c-transition--lighttodark {
  		border-bottom: 1.125rem solid #0e0e0e;
  		border-top: 1.125rem solid #fefefe;
  	}
  	.c-transition--lighttolight {
  		border-bottom: 1.125rem solid #fefefe;
  		border-top: 1.125rem solid #fefefe;
  	}

	/* End Component Elements */
	
	/* Utility Classes */
	.u-center {
		margin: 0 auto;
	}

	.u-error {
		background: #ffbaba;
		color: #d8000c;
		padding: 1.125rem;
	}

	.u-f-serif {
		font-family: Lora, Constantia, 'Palatino Linotype',Palatino, 'Times New Roman', Times, serif;
	}

	.u-f-sansserif {
		font-family: Lato, Corbel, 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;
	}

	.u-nolinkstyle,
	.u-nolinkstyle:link,
	.u-nolinkstyle:visited,
	.u-nolinkstyle:hover,
	.u-nolinkstyle:focus,
	.u-nolinkstyle:active
	{
		color: inherit;
		text-decoration: none;
	}

	.u-img-round {
		border-radius: 10000px;
	}

	.u-small {
		font-size: 0.75rem;
	}

	.u-sronly {
		height: 1px;
		left: -10000px;
		overflow: hidden;
		position: absolute;
		top: auto;
		width: 1px;
	}

		.u-sronly--tabshow:focus {
			background: #fefefe;
			display: block;
			height: auto;
			left: 0;
			padding: 0.625rem;
			position: absolute;
			text-align: center;
			top: 0;
			transition: 400;
			width: 100%;
		}

	.u-imgwidth {
		height: auto;
		width: 100%;
	}

		.u-imgwidth--half {
			height: auto;
			width: 50%;
		}

		.u-imgwidth--one-third {
			height: auto;
			width: 33.3333%;
		}
		.u-imgwidth--two-third {
			height: auto;
			width: 66.6666%;
		}


	/* End Utility Classes */

}

@media only screen and (min-width: 480px) {
	/* mq480 Layout Elements */
		
	
	/* End Layout Elements */

	/* mq480 Component Elements */
	.c-header__brandimg {
			max-width: unset;
		}
	.c-nav-menu__menulist {
		border-left: 1px solid #0e0e0e;
		margin-left: 25%;
		max-width: 75%;
	}
	/* End Component Elements */
}

@media only screen and (min-width: 640px) {
	/* mq640 Layout Elements */
	.l-grid__item {
			margin-bottom: 4%;
			margin-right: 4%;
			width: 48%;
		}

		.l-grid__item:nth-of-type(2n) {
			margin-right: 0;
		}
	/* End Layout Elements */
	/* mq640 Component Elements */

	.c-nav-menu__menulist {
		margin-left: 50%;
		max-width: 50%;
	}

	.c-search__input {
		width: 80%;
	}
	.c-search__btn-submit {
		width: 20%;
	}

	/* End Component Elements */
}

@media only screen and (min-width: 768px) {
	/* mq768 Component Elements */
	.c-nav-menu {
		left: 0;
		padding: 1.125rem;
		padding-top: 0;
		position: relative;
		right: 0;
		top: 0;
	}

	.c-nav-menu__mobilemenuitem {
		display: none;
	}

	.c-nav-menu__menulist {
		border: 0;
		display: table;
		left: 0;
		margin-left: 0;
		max-width: 100%;
		right: 0;
		top: 0;
		width: 100%;
	}
		.c-nav-menu__menuitem {
			border-right: 1px solid #0e0e0e;
			border-top: 1px solid #0e0e0e;
			display: table-cell;
			vertical-align: middle;
		}
		.c-nav-menu__menuitem:last-of-type {
			border-bottom: 1px solid #0e0e0e;
			border-right: 0;
		}

	.c-nav-menu__menulist:hover{
		display: table;
	}
	.c-nav-menu__menuitem:hover,
	.c-nav-menu__menuitem:focus{
		display: table-cell;
	}
	/* End Component Elements */	
}

@media only screen and (min-width: 980px) {
	/* mq980 Layout Elements */
	.l-container {
		margin: 0 auto;
		max-width: 960px;
	}
	
	.l-grid__item {
			margin-bottom: 2%;
			margin-right: 2%;
			width: 32%;
		}

		.l-grid__item:nth-of-type(2n) {
			margin-right: 2%;
		}
		.l-grid__item:nth-of-type(3n) {
			margin-right: 0;
		}
	/* mq980 Component Elements */
	.c-header__brandtext {
			font-size: 2rem;
		}

	.c-nav-menu__menuitem {
			border-right: 1px solid #0e0e0e;
			border-top: 1px solid #0e0e0e;
			display: table-cell;
			vertical-align: middle;
		}

		.c-nav-menu__menuitem:first-of-type {
			border-left: 1px solid #0e0e0e;
		}

		.c-nav-menu__menuitem:last-of-type {
			border-right: 1px solid #0e0e0e;
		}

	.c-search__input {
		width: 90%;
	}
	.c-search__btn-submit {
		width: 10%;
	}
}

@media only screen and (min-width: 1280px) {
	/* mq1280 Layout Elements */
	.l-container {
		max-width: 1200px;
	}

	.l-grid__item {
			margin-bottom: 1.33333%;
			margin-right: 1.33333%;
			width: 24%;
		}

		.l-grid__item:nth-of-type(2n) {
			margin-right: 1.33333%;
		}
		.l-grid__item:nth-of-type(3n) {
			margin-right: 1.33333%;
		}
		.l-grid__item:nth-of-type(4n) {
			margin-right: 0;
		}
}

@media only screen and (min-width: 1366px) {

}

@media only screen and (min-width: 1600px) {
	/* mq1600 Layout Elements */
	.l-container {
		max-width: 1500px;
	}

	.l-grid__item {
			margin-bottom: 1.25%;
			margin-right: 1.25%;
			width: 19%;
		}

		.l-grid__item:nth-of-type(2n) {
			margin-right: 1.25%;
		}
		.l-grid__item:nth-of-type(3n) {
			margin-right: 1.25%;
		}
		.l-grid__item:nth-of-type(4n) {
			margin-right: 1.25%;
		}
		.l-grid__item:nth-of-type(5n) {
			margin-right: 0;
		}
}

@media only screen and (min-width: 1980px) {
    
}